<!--
<div>
  <div class="alert alert-warning" role="alert">Aucun services selectionnés!</div>
</div>
-->

<div class="row">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-2">
    <form class="form-inline">
      <div class="form-group">
        <select #moduleRegister class="form-control">
          <option *ngFor="let preference of preferences" value="{{preference.name}}">{{preference.name}}</option>
        </select>
      </div>
      <button type="submit" (click)="registerModule(moduleRegister)" class="btn btn-info">Subscribe</button>
    </form>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div *ngIf="isServiceActivated('Twitter')" class="col-md-4">
    <app-twitter></app-twitter>
  </div>
  <div *ngIf="isServiceActivated('Facebook')" class="col-md-4">
    <app-facebook></app-facebook>
  </div>
  <div *ngIf="isServiceActivated('CoinMarket')"  class="col-md-4">
    <app-coinmarketcap></app-coinmarketcap>
  </div>
</div>
